// Variables
$text-color: #222;
$page-width: 108rem;

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-size: 1.6rem;
  color: $text-color;
}

.container {
  width: 100%;
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 1rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.gallery {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;

  &__item {
    position: relative;
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}
