.navbar,
.footer {
  min-height: 7rem;
  display: flex;
  align-items: center;

  color: #fff;
  background-color: #111;
}

.navbar {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__nav {
    display: flex;
    align-items: center;

    li:not(:last-child) {
      margin-right: 1rem;
    }

    a {
      transition: color 0.4s;

      &:hover {
        color: orangered;
      }
    }
  }
}

.main {
  min-height: calc(100vh - 14rem);
  padding: 4rem 0;
}
